@charset "ISO-8859-1";

body,h1 {
    font-family: Arial;
    background-color: azure;
    color: blue;
}

h2{
	font-family: Arial;
    background-color: azure;
    color: red;
	
}

.logincontainer{
    width: 100%;
    padding: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
}



input{
	width=25%;
	padding:4px;
	padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid grey;
	
}

table,tr,td,th {

  border: 2px solid grey;
  empty-cells: hide;
  font-weight:bold;
  height:25px;
  
  
}

table{width:40%;}
  
  #TableHead{
  height:50px;
  font-weight: 900;
  color:black;
  font-size:25px;
  background-color:azure;}
tr:hover {background-color: white;}
#mainsection{
    position:absolute;
    left:25%;
    right:25%;
   
    
}

#loginbutton{
	position:relative;
	background-color:#4CAF50;
	width:50%;
	right:0px;
	padding: 15px 32px;
	font-size:16px;
	left:25%;
	bottom:20%;
}
#myTable{
	text-align:center;
}
/* Set a style for all buttons */


button:hover {
  opacity: 0.8;
  
}




img {
  position: relative;
  top: 5px;
  
}

img.avatar {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;

 
  border-radius: 50%;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#tablearea{
	background-color:violet;
	width:80%;
	height:80%;
}

.inner-box, .outer-box {
  background: #aed581;
  border-radius: 0.1rem;
  color: #fefafe;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
}
.outer-box {
  padding-top: 10px;
  background: #BA68C8;
  width: 90%;
}


.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}